*{
    padding: 0;
    margin: 0;
}

body {
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: indianred;
    text-align: center;

}

th {
    color: salmon;
}

